@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --primary: #000028;
    --accent-color: #ff0070;
    --ty-primary: #f1b2ce;
    --header: #db00ff;
    /* Heading */
    --heading-decor: var(--accent-color);
    --heading-decor-with-background: var(--primary);
    --header-background-image: url("../images/cover-image-dark.png");
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --primary: #fff1f7;
    --accent-color: #ff8dcb;
    --ty-primary: #353430;
    --header: #ffc2e6;
    /* Heading */
    --heading-decor: inherit;
    --heading-decor-with-background: inherit;
    --header-background-image: url("../images/cover-image-light.png");
  }
}
