/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --primary: #000028;
  --accent-color: #ff0070;
  --ty-primary: #f1b2ce;
  --header: #db00ff;
  /* Heading */
  --heading-decor: var(--accent-color);
  --heading-decor-with-background: var(--primary);
  --header-background-image: url("../images/cover-image-dark.png");
  --header-navigation-button: rgba(255 0 112 / 0.4);
}
