.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--primary);
  background-attachment: fixed;
  font-size: 18px;
  font-family: "IBM Plex mono", monospace;
  line-height: 1.3;
  color: var(--ty-primary);
  color-scheme: dark light;
}

.page__section {
  padding: 0 var(--page-padding);
  position: relative;
}

.page__section:not(main) {
  height: 668px;
}

.page__section:not(main)::after,
.page__section:not(main)::before {
  color: var(--accent-color);
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
}

.page__section:not(main)::before {
  border-bottom: thin solid currentcolor;
  border-left: thin solid currentcolor;
  bottom: var(--page-padding);
  left: var(--page-padding);
}

.page__section:not(main)::after {
  border-right: thin solid currentcolor;
  border-top: thin solid currentcolor;
  top: var(--page-padding);
  right: var(--page-padding);
}

.page__section_id_header {
  background-image: var(--header-background-image);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 55px;
}

.page__section_id_main {
  margin: min(calc(var(--page-padding) * 4), 60px) 0;
}

.page__section_id_footer {
  display: flex;
}

.page__record {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-style: normal;
  gap: 10px;
  position: absolute;
  right: min(calc(var(--page-padding) * 2), 30px);
  top: var(--page-padding);
  text-transform: uppercase;
  line-height: 1.39;
}

.page__record::after {
  content: "";
  display: inline-block;
  background-color: currentcolor;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentcolor;
  height: 9px;
  width: 9px;
}

.page__navigation {
  justify-self: end;
  align-self: end;
  margin-bottom: 10px;
}

.page__navigation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page__heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  justify-self: start;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
  color: var(--header);
}

.page__heading_section_footer {
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: auto;
}

.page__subheading {
  align-self: start;
  justify-self: end;
}

.page__topic:not(:last-of-type) {
  margin-bottom: min(calc(var(--page-padding) * 5), 80px);
}

@media screen and (width >= 768px) {
  :root {
    --page-padding: 20px;
  }

  .page__section:not(main) {
    height: 1024px;
  }

  .page__section_id_header {
    grid-template-rows: 290px 1fr 300px;
  }

  .page__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page__heading_section_header {
    margin-left: calc(var(--page-padding) * -1);
  }

  .page__subheading {
    width: 50vw;
  }
}

@media screen and (width >= 1024px) {
  .page__section:not(main) {
    height: 768px;
  }

  .page__section_id_header {
    grid-template-rows: 46px 1fr 205px;
  }

  .page__navigation {
    justify-self: center;
    align-self: end;
  }

  .page__navigation ul {
    flex-direction: row;
  }
}
