/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.heading-decor {
  font-size: inherit;
  line-height: inherit;
  color: var(--heading-decor);
}

.heading-decor_with_background {
  background: var(--accent-color);
  color: var(--heading-decor-with-background);
}

h4.heading-decor_with_background {
  font-weight: normal;
}
