.topic__heading,
.topic__heading + h3 {
  margin-bottom: 20px;
}

.topic__sections {
  display: grid;
  gap: 20px;
}

.topic__sections_id_gallery {
  grid-template-rows: 142px repeat(2, 355px 237px);
  gap: 10px;
}

.topic__section-heading {
  margin-bottom: 10px;
}

.topic__sections p:not(:last-child) {
  margin-bottom: 10px;
}

.topic__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.topic__link:focus {
  outline: thin solid currentcolor;
}

.topic__link:hover {
  border-bottom: thin solid currentcolor;
}

.topic__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (width >= 768px) {
  .topic:not(:last-of-type) {
    display: grid;
    grid-template-columns: min(30.7vw, 315px) 1fr;
    gap: 20px;
  }

  .topic__sections_id_reasons {
    grid-column: 1 / -1;
  }

  .topic__heading:has(+ h3) {
    grid-row: 1 / -3;
  }

  .topic__heading,
  .topic__heading + h3 {
    margin-bottom: 0;
  }

  .topic__heading + h3 {
    grid-column: 2;
  }

  .topic__sections_id_gallery {
    grid-template-areas:
      "picture1 picture1 picture2"
      "picture3 picture4 picture2"
      "picture3 picture5 picture5";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vw 29.94vw 41.4vw;
    gap: 20px;
    margin-top: 20px;
  }

  .topic__sections_id_gallery li:nth-child(1) {
    grid-area: picture1;
  }

  .topic__sections_id_gallery li:nth-child(2) {
    grid-area: picture2;
  }

  .topic__sections_id_gallery li:nth-child(3) {
    grid-area: picture3;
  }

  .topic__sections_id_gallery li:nth-child(4) {
    grid-area: picture4;
  }

  .topic__sections_id_gallery li:nth-child(5) {
    grid-area: picture5;
  }
}

@media screen and (width >= 1024px) {
  .topic__sections_id_reasons {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    gap: 20px;
  }

  .topic__sections_id_gallery {
    grid-template-rows: 25.4vw 30.76vw 41.8vw;
  }
}
