/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Контрольные точки */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --main-text: 18px;
  --page-padding: 10px;
}
